body {
    background-color: rgb(31, 28, 28) !important;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: red;
    opacity: 50%;
    transition-duration: 1s;
}

.right {
    float:right;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 30%;
    margin: 5%;
}

.project-card{
    grid-column: 1;
    grid-row: 1;
}

.flex-gallery{
    grid-column: 2;
    grid-row: 1;
    display: flex;  
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    object-fit: contain;
    margin: 25%;
}

.flex-img {
    max-width: 40%;
    margin: 5%;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}